body {
    margin: 0;
}
.grid-container {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 150px 1fr;
    min-height: 100vh;
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 1fr;
}

.header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 350px;
    grid-template-rows: 1fr;
}

a {
    text-decoration: none;
}

.sidebar-element {
    display: grid;
    grid-template-columns: 35px 1fr;
    place-content: center;
}

.header-top {
    display: grid;
    grid-template-columns: 1fr repeat(3, auto)
}

form.search-bar {
    display: grid;
    grid-template-columns: auto 1fr;
}

.header-bottom {
    display: grid;
    grid-template-columns: auto 1fr repeat(3, auto);
}

.main-content .left {
    display: grid;
    grid-template-rows: 50px 1fr;
}

.main-content .right {
    display: grid;
    grid-template-rows: 50px 1fr 50px 1fr;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
}

.project-actions {
    display: grid;
    grid-template-columns: 1fr repeat(3, auto);
}

.trending-user {
    display: grid;
    grid-template-columns: auto 1fr;
}