body {
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(235, 235, 235);
}
.grid-container {
    display: grid;
    grid-template-columns: 275px 1fr;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 1fr;
    background-color: #0ea5e9;
    padding: 15px 20px;
}

.header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    padding: 10px 40px;
    background-color: white;
    box-shadow: rgba(190, 190, 190, 0.5) 0px 5px;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 1fr;
    gap: 20px;
    padding: 40px;
}

a {
    text-decoration: none;
}

.sidebar-element {
    display: grid;
    grid-template-columns: 35px 1fr;
    gap: 15px;
    height: 55px;
}

.header-top {
    display: grid;
    grid-template-columns: 1fr repeat(3, auto);
    align-items: center;
    gap: 20px;
}

form.search-bar {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 15px;
}

.header-bottom {
    display: grid;
    grid-template-columns: auto 1fr repeat(3, auto);
    align-items: center;
    gap: 20px;
}

.main-content .left {
    display: grid;
    grid-template-rows: 50px auto 1fr;
    gap: 20px;
}

.main-content .right {
    display: grid;
    grid-template-rows: 50px auto 50px auto 1fr;
    gap: 20px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    gap: 20px;
}

.project-actions {
    display: grid;
    grid-template-columns: 1fr repeat(3, auto);
    gap: 20px;
}

.trending-user {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 15px;
}

input[type="image"] {
    width: 30px;
    height: 30px;
}

img {
    width: 30px;
    height: 30px;
}

.sidebar-element img {
    place-self: center;
}

.sidebar-element h1 {
    align-self: center;
    color: white;
}

.sidebar-element a {
    align-self: center;
    color: white;
    font-size: large;
}

.filter-white, .sb-icon{
    filter: invert(96%) sepia(7%) saturate(3%) hue-rotate(161deg) brightness(107%) contrast(100%);
}

.sidebar-element.logo img {
    width: 50px;
    height: 50px;
}

#search-bar {
    width: 90%;
    border-radius: 15px;
    background-color: lightgray;
    border: none;
}

.profile-1 {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.profile-2 {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.username, .message {
    font-weight: bold;
}

.message {
    font-size: small;
    margin: 0;
}

.username-info .username {
    font-size: x-large;
    margin: 0;
}

.header-bottom button {
    height: 35px;
    width: 90px;
    color: white;
    background-color: #0ea5e9;
    font-weight: bolder;
    border: none;
    border-radius: 15px;
}

.content-title {
    font-weight: bolder;
    font-size: large;
}

.project-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border-left: 10px solid orange;
    display: grid;
    grid-template-rows: auto 1fr auto;
    box-shadow: rgba(212, 212, 212, 0.74) 5px 5px;
    font-size: 90%;
}

.project-title {
    font-weight: bold;
}

.project-description {
    color:gray;
}

.project-actions img {
    filter: invert(25%) sepia(3%) saturate(97%) hue-rotate(316deg) brightness(96%) contrast(69%);
}

.announcements, .trending {
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: rgba(212, 212, 212, 0.74) 5px 5px;
    display: grid;
    font-size: 80%;
    gap: 10px;
}

.separator-line {
    background-color: lightgray;
    height: 1px;
}

.announcement-title {
    font-weight: bold;
}

.announcement-description {
    color: gray;
    text-overflow: ellipsis;
}

.description p{
    margin: 0;
    color: gray;
}

.description .username {
    color: black;
}